<h1>What is the new book location?</h1>

<table>
  <tr>
    <th>ID</th>
    <th>LOCATION</th>
  </tr>
  <% Location.all.each do |location| %>
    <tr>
      <td><%= location.id %></td>
      <td>$<%= location.name %></td>
    </tr>
  <% end %>
</table>


<form action="/change_book_location/<%= params["id"] %>">
  <input type="text" name="new_location" placeholder="New Book Location">
  
  <input type="submit">
</form>