<h1>What is the new book quantity?</h1>

<form action="/change_book_quantity/<%= params["id"] %>">
  <input type="text" name="new_quantity" placeholder="New Book Quantity">
  
  <input type="submit">
</form>