<h1> What would you like to edit about this book? </h1>

<ul>
  <li><a href="/edit_book_name/<%=params["id"] %>">Name</a></li>
  <li><a href="/edit_book_genre/<%= params["id"] %>">Genre</a></li>
  <li><a href="/edit_book_location/<%= params["id"] %>">Location</a></li>
  <li><a href="/edit_book_quantity/<%= params["id"] %>">Quantity</a></li>
</ul>