<h1>Which location would you like to search by?</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
  </tr>
  <% Location.all.each do |location| %>
    <tr>
      <td><%= location.id %></td>
      <td><a href="/search_location/<%= location.id %>"><%= location.name %></a></td>
    </tr>
  <% end %>
</table>